{% comment %} {% extends "layout.html" %} {% endcomment %}

<!--comment-->

{% comment %} {% block content %} {% endcomment %}

<!--comment-->

Hi {{ user.username }}, You're receiving this email because we received a
password reset request for your account. Please click the link below to reset
your password: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm'
uidb64=uid token=token %} If you did not request a password reset, please ignore
this email. Thanks, The Team

<!--comment-->
{% comment %} {% endblock content %} {% endcomment %}
